.App {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.inputs {
  text-align:center;
  margin-top:40px;
}
.input-group {
  margin-bottom: 1em;
}
.input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
// .brand {
//   $size: 40px;
//   width: $size;
//   height: $size;
//   border-radius: $size / 2;
// }
