@import '../../variables';

.SignupForm {
  flex-grow:1;
  flex-basis: 35%;
  min-width: 250px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-Group {
    display: flex;
    padding: 10px;
  }
  &-Label {
    display: block;
    margin-bottom: 5px;
  }
  &-Buttons {
    margin-top: 1.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-Login {
    background-color: $secondary;
  }
  &-Signup {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
  }
}
